$bg:  rgb(11, 5, 95);
$primary:rgb(39, 27, 146);
$accent: rgb(230, 229, 246);

$font-family: "Rubik", sans-serif; 

$input-margin: clamp(3px, 5%,10%);

@mixin box-shadow {
  -webkit-box-shadow: 8px 8px 18px -7px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 18px -7px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 18px -7px rgba(66, 68, 90, 1);
  
}

@mixin tablet-up {
    @media (min-width: 760px) {
      @content;
    }
  }

  @mixin breakpoint($num){
    @media (min-width: $num){
      @content
    }
  }

