@use "reset-style";
@use "colors-fonts-mixins" as *;
@use "hover" as *;



body {
  background-color: $bg;
  font-family: $font-family;
  font-weight: 500;
}

main {
  background-color: $primary;
  width: clamp(325px, 60vw, 1100px);
  padding-top: clamp(32px, 4%, 48px);
  padding-bottom: 0;
  border-radius: 1rem;
  margin-top:min(24px);
  margin-bottom:min(24px);
  color: $accent;
  text-align: center;
  @include box-shadow;
  section{
    margin-left: clamp(32px, 4%, 48px);
    margin-right: clamp(32px, 4%, 48px);
    margin-bottom: 32px;
  }
}

.about {
  & > * {
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
  &_header {
    font-size: 1.5rem;
    font-weight: 700;
    @include tablet-up {
      font-size: 2rem;
    }
  }
  ul{
    list-style:disc; 
    text-indent: -3px; 
    margin-left: 3px; 
  }
  &_text {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
    padding-left: clamp(16px, 3%, 40px);
    text-align: left;
    margin-bottom: 10px;
    @include tablet-up {
      line-height: 1.8;
      font-size: 1.5rem;
    }
  }
}

.options {
  text-align:left; 
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  @include breakpoint(800px){
    white-space:normal;
  }

  &>*{
    line-height: 1.8;
    margin-bottom: 1rem;
    min-width: 230px;
    @include breakpoint(1440px){
      padding-right: 1.2rem;
      width: 33.33%;
    }
  }
  
  
  @include breakpoint(1200px){
    flex-direction: row;
    text-align: center;
  }

  label{
    
    font-size: 18px;
    min-width: 280px;
    
  }
  input[type=number] {
    width: 30px;
    padding: 3px;
    padding-left: 5px;
    border: none;
    border-radius: 10%;
    margin-left: $input-margin;

  
    &#base{
      margin-left: calc($input-margin + 10px);
      @include breakpoint(1200px){
        margin-left:$input-margin;
      }
    }
    &#convert-min{
      margin-left: calc($input-margin + 12px);
      @include breakpoint(1200px){
        margin-left:$input-margin;
      }
    }
    
  }
  
}



.converter {
  font-size: 1rem;
  margin-bottom: 2rem;
  @include tablet-up {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  div {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

    & > * {
      padding-bottom: 1rem;
    }
  }
  

  #user-text-label,
  .output-info {
    font-size: 1.1rem;
    text-transform: uppercase;
    @include tablet-up {
      font-size: 1.3rem;
    }
  }
  #user-text-label {
    text-align: center;
  }
  .output-info {
    min-width: 200px;
  }

  #user-text,
  .output-text {
    border-radius: 0.8rem;
    background-color: $accent;
    padding: 1rem;
    font-size: 14px;
    height: clamp(100px, 200px, 300px);
    @include box-shadow;
  }
  #user-text {
    border: none;
    font-family: $font-family;
    @include box-shadow;
    &:focus {
      outline: none;
    }

    

    @include tablet-up {
      margin-right: 0.75rem;
    }
  }
  
  .output-text {
    color: grey;
    font-weight: 400;
    text-align: left;
    white-space: pre-wrap;
    @include box-shadow;
    overflow: auto;
    word-wrap: break-word;
    @include tablet-up {
      margin-left: 0.75rem;
    }
  }
  div#container-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include tablet-up {
      order: 2;
      grid-column-start: span 2;
      margin-top: 1.5rem;
    }
    button {
      color: $primary;
      background-color: $accent;
      border: none;
      border-radius: 10px;
      padding: 8px 14px;
      width: 150px;
      font-weight: 500;
      font-family: $font-family;
      font-size: 12px;
      margin-right: 0.75rem;
      border: 3px solid $primary;
      &:hover {
        background-color: $primary;
        color: $accent;
        border: 3px solid $accent;
        transform: scale(1.1);
        transition: all ease 500ms;
        cursor: pointer;
      }
      @include tablet-up {
        font-size: 18px;
        width: 195px;
        padding: 10px 16px;
        margin-right: 1.5rem;
      }
      &#clear-btn{
        margin-left: 1rem;
      }
    
    }
  }
}
hr {
  margin: 1.5rem 2rem;
}
.fa-solid {
  margin-right: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

footer{
  background-color:rgb(36, 26, 127);
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0;
  border-top: solid 2px white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  a{color: white;
    margin-right: 2rem;
    &#mail{
      margin-right: 0;
    }
    &:hover{
      transform: scale(1.5);
    }
  }

}